html {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

header {
    height: 5rem;
}

main {
    background: #1C1C1C;
    color: white;
    text-align: center;
    position: relative;
}

.container {
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
}

.merch {
    background: #0282F9;
}

.footer_socials {
    background: #303030;
}

.footer_links {
    background-image: url(@/assets/img/footer-bg.jpg);
    background-size: cover;
    height: 25rem;
    color: white;
    padding-top: 2rem;
    overflow: hidden;
}